.footer-copyright 
    .footer-copyright__col &copy;2020 Consultalk. All rights reserved
    .footer-copyright__col 
        a(href="#") Terms of Service
    .footer-copyright__col 
        a(href="#") Privacy Policy