.footer 
    .footer__col
        a.footer__logo(href="#")
            include ../icons/logo-footer
        .footer__fon
            include ../icons/fon-footer
    .footer__col
        h3.footer__title Help Link
        ul.footer__list 
            ul.footer__item Customers Services
            ul.footer__item IT Department
            ul.footer__item About Our Company
            ul.footer__item Business Growth
            ul.footer__item Make An Appointment
    .footer__col
        h3.footer__title Utility Pages
        ul.footer__list 
            ul.footer__item Styleguide
            ul.footer__item Start Here
            ul.footer__item 404 Not Found
            ul.footer__item Password Protected
            ul.footer__item Licenses
            ul.footer__item Changelog
    .footer__col 
        h3.footer__title Address
        h4.footer__subtitle Business Consulting.
        .footer__text.text Graaf Florisstraat 22A,3021 CH RotterdamNetherlands
        h4.footer__subtitle Business Consulting.
        .footer__text.text 365 Gran Via de CortsCatalanes, BA 08015
    .footer__col 
        h3.footer__title Work inquiries 
        .footer__text.text Interested in working with us?
        a.footer__email(href="mailto:info@consulting.com" target="_blank") info@consulting.com
        .footer__text.text Any question call
        a.footer__phone(href="tel:012544432001" target="_blank") (01) 25444 32001
        .footer__social
            span Fb. /
            span Ig. /
            span Tw. /
            span Be.

        