.main-footer 
    img(src="assets/i/main-footer/Photo.jpg", alt="")
    .container 
        .main-footer__wrapper 
            .main-footer__head 
                a.main-footer__logo(href="#")
                    include ../icons/logo-main-footer 
                .main-footer__social 
                    a(href="https://facebook.com" target="_blank") Fb. /
                    a(href="#" target="_blank") Ig. /
                    a(href="#" target="_blank") Tw. /
                    a(href="#" target="_blank") Be.
            .main-footer__content
                .main-footer__col
                    h3.main-footer__title Product
                    ul.main-footer__list
                        li 
                            a(href="#").main-footer__link Service
                        li  
                            a(href="#").main-footer__link FAQ
                        li 
                            a(href="#").main-footer__link Single Service
                        li 
                            a(href="#").main-footer__link Get Quote
                        li 
                            a(href="#").main-footer__link Prices
                .main-footer__col
                    h3.main-footer__title Company
                    ul.main-footer__list
                        li 
                            a(href="#").main-footer__link About
                        li  
                            a(href="#").main-footer__link News
                        li 
                            a(href="#").main-footer__link Contacts
                        li 
                            a(href="#").main-footer__link Testimonials
                        li 
                            a(href="#").main-footer__link Our team
                        li 
                            a(href="#").main-footer__link Our approach
                .main-footer__col
                    h3.main-footer__title Address
                    .main-footer__address 1700 W Blancke St, kiyev port south USA, America
                    a(href="#").btn Book an Appoinment
        .main-footer__copyright.footer-copyright 
            .footer-copyright__col ©2020 Consultalk. All rights reserved
            .footer-copyright__col 
                a(href="#") Terms of Service
            .footer-copyright__col 
                a(href="#") Privacy Policy
