header.main-header
    .container
        .main-header__wrapper
            a.main-header__logo(href="#")
                include ../icons/icon-logo
                span AskExperts
            ul.main-header__menu.main-menu#js-main-menu
                li
                    a.main-menu__link(href="/") Home
                li
                    a.main-menu__link(href="/about.html") About
                li
                    a.main-menu__link(href="#") Services
                li
                    a.main-menu__link(href="#") Work
                li
                    a.main-menu__link(href="#") Pages
                li
                    a.main-menu__link(href="#") Contact
            a.btn-icon.btn-icon--mobile(href="tel:8884521505" target="_blank") 
                include ../icons/icon-phone
                span + (888) 452 1505
            include sandwich

