header.top-header 
    .container 
        .top-header__wrapper
            .top-header__days
                include ../icons/icon-clock
                span Monday - Friday8AM - 9PM   
            .top-header__location
                include ../icons/icon-location
                span 725 Park Ave, New York
            ul.top-header__social
                li 
                    a.top-header__link(href="#")
                        include ../icons/icon-in
                li
                    a.top-header__link(href="#")
                        include ../icons/icon-fb
                li
                    a.top-header__link(href="#")
                        include ../icons/icon-tw
                li
                    a.top-header__link(href="#")
                        include ../icons/icon-ln