.book
    .book__wrapper
        .book__picture
            .book__dotted
                include ../icons/fon-book
            .book__square
            .book__page
                img(src="assets/i/book/book-fon.jpg", alt="")
            .book__img 
                img(src="assets/i/book/book-img.jpg", alt="")
        .book__content
            .label Book Now
            h2.book__title.title Better Consult, <strong>Better</strong> Results
            .book__text.text Our software development agency has a growth up to 30% per each year. If you are result-oriented, not afraid to take initiative – drop us a note and join our team!
            a(href="tel:+8001234654" target="_blank").book__btn  
                include ../icons/icon-phone-2
                span +800 1234 654