.history 
    .label Our History 
    h2.history__title.title Better Website Means A User Experience
    .history__text.text Ippsum is the result of synergy between our teams and our customers. Our company culture is focused on excellent productivity, customer satisfaction, respect for team and individual achievements.
    .history__block 
        .history__dotted
            include ../icons/fon-video
        .history__square
        .history__video.video
            iframe.video__iframe(width="100%" height="100%" src="https://www.youtube.com/embed/kFpmlbNs6jk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen)
            img.video__img(src="assets/i/history/history-video.jpg" alt="")
            .video__play
                .video__back
                .video__circle
                .video__triangle
