.our-core
    .container 
        .our-core__header
            .our-core__content
                .label Growing with our Clients 
                h2.our-core__title.title Our core values & principles
                .our-core__text.text Capitalize on low hanging fruit to identify a ballpark value added activity beta test. Override the digital divide with additional from DevOps.
            .our-core__btn.btn.btn--dark Get in touch
        .our-core__cards
            .our-core__card
                .our-core__body
                    include ../icons/icon-our-core-1
                    h3.our-core__subtitle Creative Ideas
                    .our-core__desc.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget accumsan augue Donec aliquam.
                    a.our-core__link(href="#") Read More
            .our-core__card
                .our-core__body
                    include ../icons/icon-our-core-2
                    h3.our-core__subtitle Best Features
                    .our-core__desc.text Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    a.our-core__link(href="#") Read More
            .our-core__card
                .our-core__body
                    include ../icons/icon-our-core-3
                    h3.our-core__subtitle Experience
                    .our-core__desc.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget accumsan augue Donec aliquam.
                    a.our-core__link(href="#") Read More
            .our-core__card
                .our-core__body
                    include ../icons/icon-our-core-4
                    h3.our-core__subtitle Easy Solutions
                    .our-core__desc.text Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    a.our-core__link(href="#") Read More
                        include ../icons/icon-arrow-link