.our-team 
    .container 
        .our-team__content
            .label Our team
            h2.our-team__title.title We champion the bold to achieve the extraordinary
            .our-team__text.text Ippsum is the result of synergy between our teams and our customers. Our company culture is focused on excellent productivity, customer satisfaction, respect for team.
        .our-team__wrapper
            .our-team__card
                .our-team__img 
                    img(src="assets/i/our-team/our-team-1.jpg", alt="")
                    span.our-team__spec CEO at Company
                .our-team__body 
                    h3.our-team__name Sarah Jasmine
                    .our-team__desc.text Leverage agile frameworks to provide a robust synopsis for high level overviews.
                    ul.our-team__social
                        li 
                            a.our-team__link(href="#")
                                include ../icons/icon-in
                        li
                            a.our-team__link(href="#")
                                include ../icons/icon-fb
                        li
                            a.our-team__link(href="#")
                                include ../icons/icon-tw
            .our-team__card
                .our-team__img 
                    img(src="assets/i/our-team/our-team-2.jpg", alt="")
                    span.our-team__spec Manager
                .our-team__body 
                    h3.our-team__name John Carter
                    .our-team__desc.text Leverage agile frameworks to provide a robust synopsis for high level overviews.
                    ul.our-team__social
                        li 
                            a.our-team__link(href="#")
                                include ../icons/icon-in
                        li
                            a.our-team__link(href="#")
                                include ../icons/icon-fb
                        li
                            a.our-team__link(href="#")
                                include ../icons/icon-tw
            .our-team__card
                .our-team__img 
                    img(src="assets/i/our-team/our-team-3.jpg", alt="")
                    span.our-team__spec CEO at Company
                .our-team__body 
                    h3.our-team__name Daisy Stella
                    .our-team__desc.text Leverage agile frameworks to provide a robust synopsis for high level overviews.
                    ul.our-team__social
                        li 
                            a.our-team__link(href="#")
                                include ../icons/icon-in
                        li
                            a.our-team__link(href="#")
                                include ../icons/icon-fb
                        li
                            a.our-team__link(href="#")
                                include ../icons/icon-tw