.vision 
    .vision__wrapper 
        .vision__picture
            .vision__dotted
                include ../icons/fon-vision
            .vision__square
            .vision__img 
                img(src="assets/i/vision/vision-img.jpg" alt="")
        .vision__content
            .label Our vision
            h2.vision__title.title Turn your ideas into reality.
            .vision__text.text
                p Capitalize on low hanging fruit to identify a ballpark value added activity beta test. Override the digital divide with additional from DevOps.
            ul.vision__list 
                li
                    .vision__item.text Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day.
                li
                    .vision__item.text Capitalize on low hanging fruit to identify a ballpark value added activity to beta test override the digital.
    ul.vision__wrap
        li.vision__col
            .vision__num 1128+ 
            .vision__desc Successful Work
        li.vision__col
            .vision__num 908+ 
            .vision__desc Team member
        li.vision__col
            .vision__num 258+ 
            .vision__desc Happy Customers
        li.vision__col
            .vision__num 564+ 
            .vision__desc Creative Idea