.preview {
  margin-top: 15.1rem;
  margin-bottom: 8.3rem;
  &__img {
    position: relative;
    height: 45.1rem;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 2rem;
      z-index: 1;
    }
  }
  &__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5.3rem 6rem;
    margin: -4rem auto 0;
    width: 86%;
    border-radius: 3rem;
    background: var(--text-dark);
    z-index: 2;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    width: 51%;
  }

  &__subtitle {
    margin-bottom: 1rem;
    font-family: var(--font-2);
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.16;
    color: #fff;
  }
  &__desc {
    font-family: var(--font-2);
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.16;
    color: #fff;
  }
}
