.case-gallery
    h2.case-gallery__title.title More case studies
    .case-gallery__wrapper
        .case-gallery__img
            img(src="assets/i/taxes/taxes-6.jpg", alt="")
        .case-gallery__img
            img(src="assets/i/taxes/taxes-3.jpg", alt="")
        .case-gallery__img
            img(src="assets/i/taxes/taxes-4.jpg", alt="")
    .btn.btn--dark Browse all case studies