.preview 
    .preview__img 
        img(src="assets/i/preview/preview-img.jpg", alt="")
    .preview__wrapper 
        .preview__content
            .preview__col
                h3.preview__subtitle Case Name
                .preview__desc Taxes & Efficiency
            .preview__col
                h3.preview__subtitle Category
                .preview__desc Business
            .preview__col
                h3.preview__subtitle Date
                .preview__desc 27th September 2022
        .preview__live
            button.btn.btn--accent Live Preview