.about-me {
  margin-bottom: 7.6rem;
  &__wrapper {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 7.3rem;
    height: 66rem;
    @media screen and (max-width: 992px) {
      display: block;
    }
  }
  &__content {
    flex: 1 0 42rem;
    max-width: 42rem;
    @media screen and (max-width: 992px) {
      max-width: 100%;
    }
  }
  &__label {
    margin-bottom: 2.2rem;
  }
  &__title {
    margin-bottom: 2rem;
  }
  &__text {
    margin-bottom: 5.9rem;
  }
  &__email {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 1rem;
    padding: 2rem 4rem 2rem 0;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 25rem;
      height: 0.1rem;
      background: #d8d8d8;
    }
  }
  &__phone {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 1rem;
    padding: 2rem 2rem 2rem 0;
    svg {
      fill: #E2F4E2;
      stroke: #37A437;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 25rem;
      height: 0.1rem;
      background: #d8d8d8;
    }
  }
  &__btn {
    margin-top: 3.6rem;
  }
  &__picture {
    position: relative;
    flex: 1 0 70rem;
    @media screen and (max-width: 992px) {
      margin-bottom: 4rem;
      height: 66rem;
    }
    img {
      position: absolute;
      top: 0;
      right: 0;
      width: 91%;
      height: 86%;
      object-fit: cover;
      border-radius: 2.9rem;
      z-index: 2;
      @media screen and (max-width: 576px) {
        width: 100%;
        height: 100%;
      }
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url("../i/svg/fon-about-us.svg") no-repeat left bottom;
      z-index: 1;
    }
  }
  .circle--yellow {
    position: absolute;
    left: 36%;
    bottom: 12%;
    width: 18.1rem;
    height: 18.1rem;
    border-radius: 50%;
    background: var(--accent);
    z-index: 3;
  }
  .circle--green {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 16.2rem;
    height: 16.2rem;
    border-radius: 50%;
    background: var(--contrast);
    z-index: 3;
  }
  &__clients {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.4rem;
    right: 4.4rem;
    bottom: 5.8rem;
    width: 34.3rem;
    height: 16.3rem;
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0)
    );
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 3rem;
    z-index: 4;
    svg {
      margin-bottom: 1rem;
    }
  }
  &__quantity {
    font-family: var(--font-2);
    font-size: 6.6rem;
    font-weight: 600;
    line-height: 1;
  }
  &__description {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
  }
}
