.about-me {
  margin-bottom: 7.6rem;
  &__wrapper {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 7.3rem;
    height: 66rem;
    @media screen and (max-width: 992px) {
      display: block;
      height: auto;
    }
  }
  &__content {
    flex: 1 0 42rem;
    @media screen and (max-width: 992px) {
      max-width: 100%;
    }
  }
  &__label {
    margin-bottom: 2.2rem;
  }
  &__title {
    margin-bottom: 2rem;
  }
  &__text {
    margin-bottom: 6rem;
    p strong {
      color: var(--contrast);
    }
  }
  &__email span,
  &__phone span {
    font-family: var(--font-2);
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.16;
    color: var(--text-dark);
  }
  &__email {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 1rem;
    padding: 2rem 4rem 2rem 0;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 25rem;
      height: 0.1rem;
      background: #d8d8d8;
    }
  }
  &__phone {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    column-gap: 1rem;
    padding: 2rem 2rem 2rem 0;
    svg {
      fill: #e2f4e2;
      stroke: #37a437;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 25rem;
      height: 0.1rem;
      background: #d8d8d8;
    }
  }
  &__btn {
    padding: 1.5rem 2.6rem;
  }
  &__picture {
    position: relative;
    flex: 1 0 70rem;
    @media screen and (max-width: 992px) {
      margin-bottom: 10rem;
      padding-bottom: 0;
    }
    @media screen and (max-width: 576px) {
      margin-bottom: 16rem;
    }
    img {
      position: absolute;
      top: 0;
      right: 0;
      width: 90%;
      height: 86%;
      object-fit: cover;
      border-radius: 2.9rem;
      z-index: 2;
      @media screen and (max-width: 992px) {
        position: static;
        width: auto;
        height: auto;
      }
      @media screen and (max-width: 576px) {
        width: 100%;
        height: 100%;
      }
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url("../i/svg/fon-about-us.svg") no-repeat left bottom 1rem;
      z-index: 1;
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }
  &__circle {
    position: absolute;
    border-radius: 50%;
    z-index: 3;
    @media screen and (max-width: 576px) {
      display: none;
    }

    &--yellow {
      left: 36%;
      bottom: 12%;
      width: 18.1rem;
      height: 18.1rem;
      background: var(--accent);
      @media screen and (max-width: 992px) {
        left: initial;
        // right: 28%;
        right: 30rem;
      }
    }
    &--green {
      right: 0;
      bottom: 0;
      width: 16.2rem;
      height: 16.2rem;
      background: var(--contrast);
    }
  }
  &__clients {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.4rem;
    top: 67%;
    left: 46%;
    width: 34.3rem;
    height: 16.3rem;
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0)
    );
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 3rem;
    z-index: 5;
    @media screen and (max-width: 992px) {
      left: initial;
      //  right: 5%;
      right: 7rem;
      top: 75%;
    }
    @media screen and (max-width: 576px) {
      top: 90%;
      right: 0;
      width: auto;
      height: auto;
      padding: 3.2rem;
    }
    svg {
      margin-bottom: 1rem;
    }
  }
  &__quantity {
    font-family: var(--font-2);
    font-size: 6.6rem;
    font-weight: 600;
    line-height: 1;
    @media screen and (max-width: 576px) {
      font-size: 4rem;
    }
  }
  &__description {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
  }
}
