.experience {
  overflow: hidden;
  position: relative;
  background: var(--accent);
  z-index: 1;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__left {
    position: absolute;
    bottom: 1%;
    left: 1%;
  }
  &__right {
    position: absolute;
    top: 3%;
    right: 1%;
  }
  &__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 13.5rem 2.1rem 13.5rem 0;
    z-index: 2;
    @media screen and (max-width: 992px) {
      display: block;
      padding: 11.2rem 0;
    }
    @media screen and (max-width: 768px) {
      padding-bottom: 9rem;
    }
    @media screen and (max-width: 576px) {
      padding: 10rem 0 6rem;
    }
  }
  &__content {
    flex: 0 1 37.5rem;
    @media screen and (max-width: 992px) {
      margin-bottom: 5rem;
    }
  }
  &__label {
    margin-bottom: 2.2rem;
  }
  &__title {
    margin-bottom: 2.2rem;
  }
  &__text {
    font-size: 1.8rem;
  }
  &__counter {
    display: flex;
    justify-content: space-between;
    column-gap: 7.5rem;
    padding-top: 2.3rem;
    @media screen and (max-width: 1200px) {
      column-gap: 3rem;
      justify-content: center;
    }
    @media screen and (max-width: 768px) {
      display: block;
    }
  }
  &__body {
    text-align: center;
    @media screen and (max-width: 768px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 3rem;
    }
  }
  &__tag {
    display: inline-block;
    font-family: var(--font-2);
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 1.16;
    color: #181818;
  }
  &__item {
    margin-bottom: 3rem;
  }

  .rs-handle-dot-inner {
    padding: 34%;
    background: #181818;
  }
  .rs-handle-dot {
    border: none;
  }
  .rs-tooltip-text {
    font-family: var(--font-2);
    font-weight: 700;
    font-size: 5rem;
    line-height: 1.16;
    color: #181818;
  }
  &__label {
    background: #fff;
  }
  &__text {
    color: #181818;
  }
}
