.features {
  margin-top: -14rem;
  @media screen and (max-width: 992px) {
    margin-top: -9rem;
  }
  @media screen and (max-width: 768px) {
    margin-top: -7rem;
  }
  @media screen and (max-width: 576px) {
    margin-top: -5rem;
  }
  &__wrapper {
    display: flex;
    row-gap: 2rem;
    margin: 0 -1.8rem;
    @media screen and (max-width: 992px) {
      margin: 0 -1.4rem;
    }
    @media screen and (max-width: 768px) {
      flex-wrap: wrap;
    }
    @media screen and (max-width: 576px) {
      display: block;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: end;
    flex: 0 0 calc(100% / 3 - 3.6rem);
    margin: 0 1.8rem;
    border-radius: 2rem;
    background: #ccc;
    @media screen and (max-width: 992px) {
      flex: 0 0 calc(100% / 3 - 2.8rem);
      margin: 0 1.4rem;
    }
    @media screen and (max-width: 768px) {
      flex: 1 0 calc(100% / 2 - 2.8rem);
    }
    @media screen and (max-width: 576px) {
      margin-bottom: 2rem;
    }
  }
  &__img {
    position: relative;
    min-height: 47rem;
    z-index: 1;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 2rem;
    }
  }
  &__content {
    position: relative;
    padding: 23.7rem 4.2rem 5rem 4.2rem;
    z-index: 2;
    @media screen and (max-width: 992px) {
      padding: 23.7rem 2.6rem 4rem 2.6rem;
    }
  }
  &__subtitle {
    margin-bottom: 1rem;
  }
  &__text {
    margin-bottom: 1.5rem;
  }
  &__btn {
    margin-top: auto;
  }
}
