.home-intro {
  margin-top: -1px;
  position: relative;
  background: #262626;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../i/svg/fon-top.svg") no-repeat left 52% top 10%;
    @media screen and (max-width: 992px) {
      background: url("../i/svg/fon-top.svg") no-repeat left 52% top -20%;
    }
    @media screen and (max-width: 768px) {
      background: url("../i/svg/fon-top.svg") no-repeat right -25% top -20%;
    }
    @media screen and (max-width: 576px) {
      background: url("../i/svg/fon-top.svg") no-repeat right -55% top -30%;
    }
    @media screen and (max-width: 400px) {
      background: url("../i/svg/fon-top.svg") no-repeat right -85% top -40%;
    }
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../i/svg/fon-bottom.svg") no-repeat left bottom;
    @media screen and (max-width: 992px) {
      background: url("../i/svg/fon-bottom.svg") no-repeat left -8% bottom -30%;
    }
    @media screen and (max-width: 768px) {
      background: url("../i/svg/fon-bottom.svg") no-repeat left -7% bottom -30%;
    }
    @media screen and (max-width: 567px) {
      background: url("../i/svg/fon-bottom.svg") no-repeat left -7% bottom -40%;
    }
    @media screen and (max-width: 400px) {
      background: url("../i/svg/fon-bottom.svg") no-repeat left -7% bottom -50%;
    }
  }
  &__img {
    position: relative;
    height: 84.1rem;
    @media screen and (max-width: 992px) {
      height: 70rem;
    }
    @media screen and (max-width: 768px) {
      height: 60rem;
    }
    img {
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 100%;
      object-fit: cover;
      z-index: 1;
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }
  .container {
    position: relative;
    height: 100%;
    z-index: 2;
  }
  &__content {
    position: absolute;
    top: 32%;
    left: 2rem;
    max-width: 50rem;
    color: #fff;
    @media screen and (max-width: 768px) {
      top: 26%;
      left: 20%;
    }
    @media screen and (max-width: 576px) {
      top: 20%;
      left: 10%;
    }
    @media screen and (max-width: 400px) {
      top: 15%;
      left: 2%;
    }
  }
  &__label {
    margin-bottom: 2rem;
  }
  &__title {
    margin-bottom: 2rem;
    font-family: var(--font-2);
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.2;
  }
  &__text {
    margin-bottom: 2.9rem;
    // font-family: Lato;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
  }
}
