.plan {
    background: #f5f5f5;    
    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin: 0 -2rem;
        @media screen and (max-width: 992px) {
            flex-wrap: wrap;        
            justify-content: center;
        }
    }
    &__col {
        flex: 0 0 calc(100% / 3 - 4rem);
        margin: 0 2rem;
        min-width: 38.7rem;
    }
    &__col:first-of-type {
        margin-bottom: 3rem;
        @media screen and (max-width: 992px) {
            flex: 0 0 100%;
            padding: 0 2rem;
        }
    }
    
    &__label {
        margin-bottom: 1.5rem;
        color: #fff;
        background: var(--contrast);
    }
    &__title {
        margin-bottom: 3.3rem;
    }
}