.team {
  position: relative;
  height: 82.4rem;
  background: #181818;
  @media screen and (max-width: 992px) {
    height: 80rem;
  }
  @media screen and (max-width: 768px) {
    height: 70rem;
  }
  @media screen and (max-width: 576px) {
    height: 60rem;
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: linear-gradient(360deg, #181818 0%, rgba(24, 24, 24, 0) 100%);
    z-index: 2;
  }
  &__content {
    padding: 0 3rem;
    position: absolute;
    bottom: 10%;
    left: 0;
    right: 0;
    z-index: 3;
    text-align: center;
  }
  &__label {
    margin-bottom: 0.8rem;
    color: white;
    background: var(--contrast);
  }
  &__title {
    margin-bottom: 2.2rem;
    color: #fff;
  }
}
