.work {
  position: relative;
  padding: 15rem 0;
  z-index: 1;
  @media screen and (max-width: 768px) {
    padding: 10rem 0;
  }
  @media screen and (max-width: 576px) {
    padding: 8rem 0;
  }
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: rgba(0, 0, 0, 0.9);
    z-index: 2;
  }
  &__label {
    margin-bottom: 0.2rem;
    color: #fff;
    background: var(--contrast);
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
    @media screen and (max-width: 576px) {
      display: block;
    }
  }
  &__title {
    color: #fff;
    @media screen and (max-width: 576px) {
      margin-bottom: 3rem;
    }
  }
  &__btn {
    background: var(--accent);
    &:hover {
      color: #181818;
      background: #fff;
    }
  }
  &__grid {
    display: grid;
    gap: 5rem;
  }
  &__item {
    position: relative;
    min-height: 34.4rem;
    cursor: pointer;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 2rem;
    }
    &::before {
      content: "";
      position: absolute;
      top: 3.5rem;
      left: 3.5rem;
      width: calc(100% - (3.5rem * 2));
      height: calc(100% - (3.5rem * 2));
      background: rgba(0, 0, 0, 0.75);
      border-radius: 2rem;
      opacity: 0;
      transition: all .5s ease;
      z-index: 1;
    }
    &:hover .work__wrap {
      opacity: 1;
    }
    &:hover::before {
      opacity: 1;
    }
  }
  &__wrap {
    opacity: 0;
  }
  &__icon {
    position: absolute;
    top: 6rem;
    right: 6rem;
    width: 5rem;
    height: 5rem;
    background: linear-gradient(154deg, #ffe9b1 0%, #dda003 100%);
    border-radius: 50%;
    z-index: 3;
    svg {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &__info {
    position: absolute;
    padding-right: 5rem;
    left: 6rem;
    bottom: 5.4rem;
    z-index: 3;
  }
  &__subtitle {
    color: #fff;
  }
  &__text {
    color: var(--accent);
  }
  &__item1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  &__item2 {
    grid-column: 2/4;
    grid-row: 1/2;
  }
  &__item3 {
    grid-column: 1/2;
    grid-row: 2/4;
  }
  @media screen and (max-width: 768px) {
    &__grid {
      gap: 3rem;
    }
    &__item2 {
      grid-column: 1/3;
      grid-row: 1/2;
    }
    &__item1 {
      grid-column: 1/2;
      grid-row: 2/3;
    }
    &__item3 {
      grid-column: 1/2;
      grid-row: 3/5;
    }
    &__item4 {
      grid-column: 2/3;
      grid-row: 2/3;
    }
    &__item5 {
      grid-column: 2/3;
      grid-row: 3/4;
    }
  }
  @media screen and (max-width: 576px) {
    &__grid {
      display: block;
    }

    &__item {
      position: relative;
      padding-bottom: 90%;
      margin-bottom: 3rem;
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 2rem;
      }
    }
  }
}
