.book {
  margin-bottom: 15rem;
  background: var(--text-dark);
  border-radius: 3rem;
  overflow: hidden;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    height: 52.6rem;
  }
  &__picture {
    position: relative;
    flex: 0 0 50.8%;
    align-self: flex-end;
  }
  &__dotted {
    position: absolute;
    top: -4.8rem;
    left: 0;
    z-index: 1;
  }
  &__square {
    position: absolute;
    top: -0.7rem;
    left: 2.7rem;
    width: 13rem;
    height: 14.5rem;
    background: var(--contrast);
    border-radius: 1.7rem;
    z-index: 2;
  }
  &__page {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      background: var(--accent);
      opacity: 0.8;
      overflow: hidden;
      z-index: 4;
    }
    img {
      position: absolute;
      top: -12.7rem;
      right: 9rem;
      border-radius: 0 0 2rem 2rem;
      z-index: 2;
    }
  }
  &__img {
    position: relative;
    height: 40rem;
    img {
      position: absolute;
      bottom: -13.5px;
      left: 5.2rem;
      width: 43.5rem;
      height: 100%;
      object-fit: cover;
      border-radius: 3rem 3rem 0 0;
      z-index: 3;
    }
  }
  &__content {
    flex: 0 0 50%;
    max-width: 42.3rem;
    padding: 11.6rem 0 0 0rem;
    margin-left: 9rem;
  }
  .label {
    margin-bottom: 0.8rem;
    color: #fff;
    background: var(--contrast);
  }
  &__title {
    margin-bottom: 0.7rem;
    color: #fff;
    strong {
      color: #727272;
    }
  }
  &__text {
    margin-bottom: 2.1rem;
    color: #fff;
  }
  &__btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.4rem;
    padding: 1.6rem 2.3rem 1.6rem 2.1rem;
    font-family: var(--font-1);
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.6;
    color: var(--text-dark);
    background: var(--accent);
    border-radius: 4.2rem;
    transition: all .3s ease;
    &:hover {
      background: #ccc;
    }
  }
}
