.vision {
  margin-bottom: 15rem;
  @media screen and (max-width: 992px) {
    margin-bottom: 10rem;
  }
  @media screen and (max-width: 576px) {
    margin-bottom: 7rem;
  }
  &__wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    column-gap: 12.2rem;
    @media screen and (max-width: 992px) {
      display: block;
    }
  }
  &__picture {
    position: relative;
  }
  &__dotted {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    @media screen and (max-width: 992px) {
      display: none;
    }
  }
  &__square {
    position: absolute;
    top: 4rem;
    right: 5rem;
    border-radius: 20px;
    width: 12.6rem;
    height: 11.3rem;
    background: var(--contrast);
    z-index: 2;
    @media screen and (max-width: 992px) {
      display: none;
    }
  }
  &__img {
    position: relative;
    bottom: 0;
    left: 0;
    height: 34.6rem;
    width: 48.8rem;
    border-radius: 20px;
    @media screen and (max-width: 992px) {
      margin-bottom: 4rem;
      width: auto;
      height: auto;
    }
    img {
      position: absolute;
      top: 6rem;
      right: 8rem;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 20px;
      z-index: 3;
      @media screen and (max-width: 992px) {
        position: static;
      }
    }
  }
  &__content {
    margin-bottom: 15rem;
    max-width: 48%;
    @media screen and (max-width: 992px) {
      max-width: initial;
      margin-bottom: 7rem;
    }
    @media screen and (max-width: 576px) {
      margin-bottom: 5rem;
    }
  }
  .label {
    margin-bottom: 2rem;
    color: #fff;
    background: var(--contrast);
  }
  &__title {
    margin-bottom: 1.4rem;
  }
  &__text {
    margin-bottom: 2rem;
  }
  &__item {
    position: relative;
    margin-bottom: 2rem;
    padding-left: 4rem;
    font-family: var(--font-2);
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.16;
    color: #595566;
    &::before {
      content: "";
      position: absolute;
      top: -0.4rem;
      left: 0;
      width: 100%;
      height: 100%;
      background: url("../i/svg/icon-vision.svg") no-repeat;
      @media screen and (max-width: 992px) {
        height: 180%;
        top: -1rem;
      }
    }
  }
  &__wrap {
    display: flex;
    justify-content: center;
    column-gap: 13.7rem;
    row-gap: 4rem;
    @media screen and (max-width: 768px) {
      column-gap: 6rem;
      justify-content: space-between;
    }
    @media screen and (max-width: 576px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  &__col {
    @media screen and (max-width: 576px) {
      flex: 0 0 35%;
      text-align: center;
    }
  }
  &__num {
    margin-bottom: 1.2rem;
    font-family: var(--font-2);
    font-weight: 700;
    font-size: 5rem;
    line-height: 1.16;
    color: #181818;
  }
  &__desc {
    font-family: var(--font-2);
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.16;
    color: #181818;
  }
}
