.not-found 
    .container
        .not-found__body
            .not-found__dotted
                include ../icons/fon-404
            .not-found__square
            .not-found__content
                h2.not-found__title 404
                h4.not-found__subtitle Page Not Found
                .not-found__text.text This Page Doesn't or was removed! We suggest you back to home
                .not-found__btn.btn.btn--accent Back to home