.great-team {
    padding: 14rem 0 15rem;
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 4.3rem;
    }
    &__title {
        margin-bottom: 1.3rem;
    }
    &__text {
        max-width: 46%;
    }
    &__btn {
        flex-shrink: 0;
    }
}