.password {
  position: relative;
  margin: 15rem 0;
  padding: 8.4rem 0 7.4rem;
  background: var(--text-dark);
  border-radius: 3rem;
  overflow: hidden;
  @media screen and (max-width: 992px) {
    margin: 12rem 0;
  }
  @media screen and (max-width: 768px) {
    margin: 10rem 0;
  }
  @media screen and (max-width: 576px) {
    margin: 8rem 0;
  }
  &__dotted {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  &__square {
    position: absolute;
    bottom: -2rem;
    left: -14rem;
    height: 22.6rem;
    width: 28.4rem;
    border-radius: 2rem;
    background: var(--contrast);
    transform: rotate(-135deg);
    z-index: 2;
  }
  &__content {
    position: relative;
    padding: 0 3rem;
    text-align: center;
    z-index: 3;
  }
  &__title {
    margin-bottom: 3rem;
    color: #fff;
  }
  input {
    display: block;
    margin: 0 auto 3rem;
    max-width: 38.2rem;
    width: 100%;
    padding: 2.4rem 3.3rem;
    border: none;
    outline: none;
    border-radius: 5.4rem;
  }
  &__btn {
    padding: 1.5rem 5.6rem;
    border-radius: 4.2rem;
    border: none;
    outline: none;
  }
}
