.member
    .member__wrapper 
        .member__picture 
            .member__dotted
                include ../icons/fon-member
            .member__square 
            .member__img 
                img(src="assets/i/member/member-img.jpg", alt="")
        .member__content
            .member__header 
                .member__info 
                    h3.member__name Sarah Jasmine
                    .member__desc CEO at Company
                ul.our-team__social.member__social
                        li 
                            a.our-team__link(href="#")
                                include ../icons/icon-fb
                        li 
                            a.our-team__link(href="#")
                                include ../icons/icon-in-dark
                        li
                            a.our-team__link(href="#")
                                include ../icons/icon-tw-dark
                        li
                            a.our-team__link(href="#")
                                include ../icons/icon-inn
            .member__text.text
                p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui. Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do.
            h3.member__subtitle Past experience
            .member__text.text
                p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui. Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do.
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

