.subscribe 
    .subscribe__dotted
        include ../icons/fon-subscribe
    .subscribe__square
    .subscribe__wrapper
        .subscribe__content
            h3.subscribe__subtitle Subscribe Our Newsletter
            .subscribe__text.text Build stronger Customer Relationships with Consultalk
        .subscribe__form.form-small
            .form-small__group    
                input(type="text" placeholder="your mail address")
                button(type="button").btn.btn--accent Subscribe