extends template

block css
	link(rel="stylesheet" type="text/css" href="assets/css/my.css")

block title
	title About

block content
	include ../includes/mixins
	include ../blocks/globals/top-header
	include ../blocks/globals/main-header
	+pageIntro("About", "Creative Services For Boost Your Business Growth", "assets/i/page-intro/about-intro.jpg")
	.container 
		include ../blocks/about/vision
	include ../blocks/about/our-core
	include ../blocks/globals/main-footer

block scripts
	script(src="assets/libs/jquery-3.7.1.min.js")
	script(src="assets/libs/slick.min.js")
	script(src="assets/libs/roundslider.min.js")
	script(src="assets/js/dist/webpack.js")
	script(src="assets/jquery/custom-jquery.js")
