extends template

block css
	link(rel="stylesheet" type="text/css" href="assets/css/my.css")

block title
	title Blog

block content
	include ../includes/mixins
	include ../blocks/globals/top-header
	include ../blocks/globals/main-header
	+pageIntro("Blog", "Latest Blogs & News", "assets/i/page-intro/blog-intro.jpg", "page-intro--blog")
	.container 
		include ../blocks/case-studies/taxes
		include ../blocks/services/contact-us
	include ../blocks/globals/main-footer

block scripts
	script(src="assets/libs/jquery-3.7.1.min.js")
	script(src="assets/libs/slick.min.js")
	script(src="assets/libs/roundslider.min.js")
	script(src="assets/js/dist/webpack.js")
	script(src="assets/jquery/custom-jquery.js")
