extends template

block css
	link(rel="stylesheet" type="text/css" href="assets/css/my.css")

block title
	title Single Blog

block content
	include ../includes/mixins
	include ../blocks/globals/top-header
	include ../blocks/globals/main-header
	+pageIntro("September 1, 2022", "Essential Guidelines To Grow Your Corporate Business With Us", "assets/i/page-intro/single-blog-intro.jpg", "page-intro--single-blog")
	.container 
		include ../blocks/single-blog/consulting
	include ../blocks/globals/main-footer

block scripts
	script(src="assets/libs/jquery-3.7.1.min.js")
	script(src="assets/libs/slick.min.js")
	script(src="assets/libs/roundslider.min.js")
	script(src="assets/js/dist/webpack.js")
	script(src="assets/jquery/custom-jquery.js")
