.talk {
  margin-top: 15.1rem;
  margin-bottom: 15rem;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    column-gap: 8.2rem;
  }
  &__picture {
    position: relative;
    flex: 0 0 53%;
  }
  &__dotted {
    position: absolute;
    top: -6.7rem;
    left: -9.5rem;
    z-index: 1;
  }
  &__square {
    position: absolute;
    top: -2.6rem;
    left: -3.6rem;
    width: 18.3rem;
    height: 16.4rem;
    background: var(--contrast);
    border-radius: 2rem;
    z-index: 2;
  }
  &__img {
    position: relative;
    // height: 50.4rem;
    padding-bottom: 76%;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      // height: 100%;
      object-fit: cover;
      border-radius: 2.8rem;
      z-index: 3;
    }
  }
  &__content {
    padding: 6.6rem 0;
  }
  .label {
    margin-bottom: 1.1rem;
    color: #fff;
    background: var(--contrast);
  }
  &__title {
    margin-bottom: 1.6rem;
  }
  &__text {
    margin-bottom: 3.6rem;
  }
  &__item {
    display: flex;
    align-items: center;
    column-gap: 2rem;
    margin-bottom: 1.5rem;
  }
  &__item:last-child {
    margin-bottom: 0;
  }
  &__logo {
    width: 5rem;
    height: 5rem;
  }
  &__info {
    span {
        display: inline-block;
        margin-bottom: 0.5rem;
    }
  }
  &__phone,
  &__email,
  &__address {
    display: block;
    font-family: var(--font-2);
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.16;
    color: var(--text-dark);
    transition: all .3s linear;
    &:hover {
        text-decoration: underline;
    }
  }
}
