.talk 
    .talk__wrapper
        .talk__picture
            .talk__dotted
                include ../icons/fon-talk
            .talk__square
            .talk__img 
                img(src="assets/i/talk/talk-img.jpg", alt="")
        .talk__content
            .label Let’s talk
            h2.talk__title.title Get In Touch With Us
            .talk__text.text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.
            .talk__items
                .talk__item
                    .talk__logo 
                        include ../icons/talk-phone
                    .talk__info 
                        span.text Have Any Question? 
                        .talk__phone Free +01 238 543 987 
                .talk__item
                    .talk__logo 
                        include ../icons/talk-email
                    .talk__info 
                        span.text Write Email 
                        .talk__email Info@consultalk.com
                .talk__item
                    .talk__logo 
                        include ../icons/talk-address
                    .talk__info 
                        span.text Visit Anytime 
                        .talk__address King Street, Prior Lake, New York.