.about-me
    .about-me__wrapper  
        .about-me__picture
            img(src="assets/i/about-us/image-1.jpg" alt="")
            .about-me__circle.about-me__circle--yellow
            .about-me__circle.about-me__circle--green
            .about-me__clients
                include ../icons/icon-people
                .about-me__block 
                    .about-me__quantity 1,542
                    .about-me__description Satisfied Clients
        .about-me__content
            .about-me__label.label About me
            h2.about-me__title.title About our Consuting Agency Team
            .about-me__text.text 
                p 
                    strong We create experiences and build products that make business grow
                p Get help from Alex Moore, a professional business coach with advanced experience on growth and business scaling.
            .about-me__email 
                include ../icons/icon-email
                span Buschemia@gmailcom
            .about-me__phone 
                include ../icons/icon-phone-green
                span (001) 5648 6584
            a(href="#").about-me__btn.btn.btn--dark Make An Appointment 