.about-me
    .about-me__wrapper  
        .about-me__content
        .about-me__picture
            img(src="assets/i/about-us/image-1.jpg", alt="")
            .circle--yellow
            .circle--green
            .about-me__clients
                include ../icons/icon-people
                .about-me__block 
                    .about-me__quantity 1,542
                    .about-me__description Satisfied Clients