.brands
    .brands__wrapper 
        .brands__logo
            include ../icons/icon-brand-1
        .brands__logo
            include ../icons/icon-brand-2
        .brands__logo
            include ../icons/icon-brand-3
        .brands__logo
            include ../icons/icon-brand-4
        .brands__logo
            include ../icons/icon-brand-5
        .brands__logo
            include ../icons/icon-brand-6