.wrapper 
    .contact 
        .contact__img 
            img(src="assets/i/contact/contact-img.jpg", alt="")
        .contact__content
            .contact__wrap
                .contact__label.label Contact
                h2.contact__title.title Ready To Talk?
                .contact__text.text Posuere sollicitudin aliquam ultrices sagittis orci a scelerisque. Massa placerat duis ultricies lacus sed turpis. Pellentesque  pellentesque habitant morbi tristique.
            .contact__form.form-small 
                .form-small__group    
                    input(type="text" placeholder="your mail address")
                    button(type="button").btn.btn--contrast Send Message 