.counter 
    .container
        .counter__wrapper
            .counter__item
                .counter__icon
                    include ../icons/icon-counter-1
                .counter__body 
                    h3.counter__num 1,542+
                    .counter__desc Satisfied Clients
            .counter__item
                .counter__icon
                    include ../icons/icon-counter-2
                .counter__body 
                    h3.counter__num 182
                    .counter__desc Expert Team
            .counter__item
                .counter__icon
                    include ../icons/icon-counter-3
                .counter__body 
                    h3.counter__num 285
                    .counter__desc Activate Products
            .counter__item
                .counter__icon
                    include ../icons/icon-counter-4
                .counter__body 
                    h3.counter__num 28+
                    .counter__desc Awards Winning