.education 
    .container
        .education__label.label Information
        h2.education__title.title My Resume
        .education__wrapper
            .education__col
                .education__label--left.label Education
                .education__item.education__item--left
                    .education__desc Finance 小ourse - New York (2018 - 2019)
                    h3.education__subtitle.subtitle Financial Projections
                    .education__text.text Posuere sollicitudin aliquam ultrices sagittis orci a scelerisque. Massa placerat duis ultricies lacus sed turpis. Pellentesque pulvinar pellentesque habitant morbi tristique.
                .education__item.education__item--left
                    .education__desc Finance 小ourse - New York (2018 - 2019)
                    h3.education__subtitle.subtitle Corporate Finance
                    .education__text.text Posuere sollicitudin aliquam ultrices sagittis orci a scelerisque. Massa placerat duis ultricies lacus sed turpis. Pellentesque pulvinar pellentesque habitant morbi tristique.
            .education__col.education__col--right
                .education__label--right.label Education
                .education__item.education__item--right
                    .education__desc Finance 小ourse - New York (2018 - 2019)
                    h3.education__subtitle.subtitle Finance Consultant
                    .education__text.text Posuere sollicitudin aliquam ultrices sagittis orci a scelerisque. Massa placerat duis ultricies lacus sed turpis. Pellentesque pulvinar pellentesque habitant morbi tristique.
                .education__item.education__item--right
                    .education__desc Finance 小ourse - New York (2018 - 2019)
                    h3.education__subtitle.subtitle Financial Projections
                    .education__text.text Posuere sollicitudin aliquam ultrices sagittis orci a scelerisque. Massa placerat duis ultricies lacus sed turpis. Pellentesque pulvinar pellentesque habitant morbi tristique.
