.experience 
    img(src="assets/i/experience/experience-bg.jpg", alt="")
    .experience__left
        include ../icons/experience-left
    .experience__right
        include ../icons/experience-right
    .container 
        .experience__wrapper 
            .experience__content
                .experience__label.label Experience
                h2.experience__title.title More than 25 years of experience
                .experience__text 3000+ our clients are insured around the World
            .experience__counter
                .experience__body
                    .experience__item(data-count="85")
                    span.experience__tag Consistency
                .experience__body
                    .experience__item(data-count="95")
                    span.experience__tag Improvement
                .experience__body
                    .experience__item(data-count="90")
                    span.experience__tag Branching