.features
    .features__wrapper 
        .features__item 
            .features__img 
                img(src="assets/i/benefits/benefits-1.jpg", alt="")
                    h3.features__subtitle.subtitle Finance & Restructuring
                    .features__text.text Get help from Alex Moore, a professional business coach with advanced experience on growth and business scaling.
                    a(href="#").features__btn.btn Our Services
        .features__item 
            .features__img 
                img(src="assets/i/benefits/benefits-2.jpg", alt="")
                    h3.features__subtitle.subtitle Our Approach
                    .features__text.text Get help from Alex Moore, a professional business coach with advanced experience on growth and business scaling.
                    a(href="#").features__btn.btn More About 
        .features__item 
            .features__img 
                img(src="assets/i/benefits/benefits-3.jpg", alt="")
                    h3.features__subtitle.subtitle Consultalk Result
                    .features__text.text Get help from Alex Moore, a professional business coach with advanced experience on growth and business scaling.
                    a(href="#").features__btn.btn Explore Our Solution 

