section.home-intro
    .home-intro__img
        img(src="assets/i/home-intro/image-bg.jpg" alt="")
        .container
            .home-intro__content
                .home-intro__label.label Hello’ i Am 
                h1.home-intro__title Adam Buschemia Business Consultant
                .home-intro__text Get help from Alex Moore, a professional business coach with advanced experience on growth and business scaling.
                a.btn-icon(href="#") 
                    include ../icons/icon-book
                    span Book a Meeting