.plan 
    .container
        .plan__wrapper 
            .plan__col
                .plan__label.label Choose Your Plan
                h2.plan__title.title Save With Our Pricing Packages
                .plan__text.text Posuere sollicitudin aliquam ultrices sagittis orci a scelerisque. Massa placerat duis ultricies lacus sed turpis. Pellentesque pulvinar pellentesque habitant morbi tristique.
                .plan__flex 
                    .plan__item
                        .plan__circle 
                        span.plan__tarif Monthly
                    .plan__item
                        .plan__circle 
                        span.plan__tarif Yearly
            .plan__col.card-plan
                .card-plan__body
                    h3.card-plan__subtitle.subtitle Standard Plan
                    .card-plan__desc.text The argument in favor of using to filler text goes something.
                    .card-plan__info
                        .card-plan__price $56
                        .card-plan__label.label Monthly
                ul.card-plan__list
                    li
                        include ../icons/icon-plan
                        span 24/7 system monitoring
                    li
                        include ../icons/icon-plan
                        span Security management
                    li
                        include ../icons/icon-plan
                        span Secure finance backup
                    li
                        include ../icons/icon-plan
                        span Remote support
                a.card-plan__btn.btn(href="#") Get This Plan
            .plan__col.card-plan
                .card-plan__body
                    h3.card-plan__subtitle.subtitle Standard Plan
                    .card-plan__desc.text The argument in favor of using to filler text goes something.
                    .card-plan__info
                        .card-plan__price $75
                        .card-plan__label.label Monthly
                ul.card-plan__list
                    li
                        include ../icons/icon-plan
                        span 24/7 system monitoring
                    li
                        include ../icons/icon-plan
                        span Security management
                    li
                        include ../icons/icon-plan
                        span Secure finance backup
                    li
                        include ../icons/icon-plan
                        span Remote support
                a.card-plan__btn.btn(href="#") Get This Plan