.reviews 
    .container
        .reviews__wrapper
            .reviews__item
                .reviews__header 
                    .reviews__ava 
                        img(src="https://placehold.it/81", alt="")
                    .reviews__info
                        h3.reviews__name Kathleen Smith
                        .reviews__label.label Web Designer
                .reviews__text.text Posuere sollicitudin aliquam ultrices sagittis orci a scelerisque. Massa placerat duis ultricies lacus  turpis.  pellentesque habitant morbil.
            .reviews__item
                .reviews__header 
                    .reviews__ava 
                        img(src="https://placehold.it/81", alt="")
                    .reviews__info
                        h3.reviews__name John Martin
                        .reviews__label.label Web Designer
                .reviews__text.text Posuere sollicitudin aliquam ultrices sagittis orci a scelerisque. Massa placerat duis ultricies lacus  turpis.  pellentesque aservices, and become a multinational firm, offering solutions Worldwide.
            .reviews__item
                .reviews__header 
                    .reviews__ava 
                        img(src="https://placehold.it/81", alt="")
                    .reviews__info
                        h3.reviews__name Natalia Duke
                        .reviews__label.label Web Designer
                .reviews__text.text Posuere sollicitudin aliquam ultrices sagittis orci a scelerisque. Massa placerat duis ultricies lacus  turpis.  pellentesque habitant morbil.
            .reviews__item
                .reviews__header 
                    .reviews__ava 
                        img(src="https://placehold.it/81", alt="")
                    .reviews__info
                        h3.reviews__name Sarah Corner
                        .reviews__label.label Web Designer
                .reviews__text.text Posuere sollicitudin aliquam ultrices sagittis orci a scelerisque. Massa placerat duis ultricies lacus  turpis.  pellentesque habitant morbil.
                    
        .reviews__body 
            .reviews__box.reviews__box--prev
                .reviews__arrow
                    include ../icons/icon-arrow-left
                span Prev
            .reviews__box.reviews__box--right.reviews__box--next
                .reviews__arrow
                    include ../icons/icon-arrow-right
                span Next