.services 
    .container
        .services__info
            .services__label.label Services
            .services__title.title Get Control Over Your Business I take your finance to next level
        .services__img 
            img(src="assets/i/services/services-11.jpg", alt="")