.services 
    .container
        .services__info
            .services__label.label Services
            h2.services__title.title Get Control Over Your Business I take your finance to next level
        .services__body 
            .services__arrow.services__arrow--prev
                include ../icons/icon-arrow-left
            .services__arrow.services__arrow--next
                include ../icons/icon-arrow-right
        .services__wrapper 
            .services__item
                .services__img 
                    img(src="assets/i/services/services-1.jpg", alt="")
                .services__content
                    .services__subtitle.subtitle Audit & Evaluation
                    .services__text.text Get help from Alex Moore, a professional business coach with advanced experience on growth and business scaling.
                    a.services__btn.btn Learn More
            .services__item
                .services__img 
                    img(src="assets/i/services/services-2.jpg", alt="")
                .services__content
                    .services__subtitle.subtitle Audit & Evaluation
                    .services__text.text Get help from Alex Moore, a professional business coach with advanced experience on growth and business scaling.
                    a.services__btn.btn Learn More
            .services__item
                .services__img 
                    img(src="assets/i/services/services-3.jpg", alt="")
                .services__content
                    .services__subtitle.subtitle Audit & Evaluation
                    .services__text.text Get help from Alex Moore, a professional business coach with advanced experience on growth and business scaling.
                    a.services__btn.btn Learn More
            .services__item
                .services__img 
                    img(src="assets/i/services/services-1.jpg", alt="")
                .services__content
                    .services__subtitle.subtitle Audit & Evaluation
                    .services__text.text Get help from Alex Moore, a professional business coach with advanced experience on growth and business scaling.
                    a.services__btn.btn Learn More
            .services__item
                .services__img 
                    img(src="assets/i/services/services-3.jpg", alt="")
                .services__content
                    .services__subtitle.subtitle Audit & Evaluation
                    .services__text.text Get help from Alex Moore, a professional business coach with advanced experience on growth and business scaling.
                    a.services__btn.btn Learn More

