.team
    img(src="assets/i/team/team-bg.jpg", alt="")
    .container
        .team__content
            .team__label.label Our team
            h2.team__title.title Trusted by some Biggest Names
            a.team__btn.btn.btn--accent(href="/team.html") View Team Detail