.work 
    img.work__img(src="assets/i/work/work-bg.jpg", alt="")
    .container.rel
        .work__label.label Work
        .work__header 
            h2.work__title.title My latest project
            a.work__btn.btn(href="#") More Work
        .work__grid
            .work__item.work__item1 
                img(src="assets/i/work/work-1.jpg", alt="")
                .work__wrap
                    .work__icon
                        include ../icons/icon-plus
                    .work__info
                        h3.work__subtitle.subtitle Taxes & Efficiency
                        .work__text Business
            .work__item.work__item2 
                img(src="assets/i/work/work-2.jpg", alt="")
                .work__wrap
                    .work__icon
                        include ../icons/icon-plus
                    .work__info
                        h3.work__subtitle.subtitle Taxes & Efficiency
                        .work__text Business
            .work__item.work__item3 
                img(src="assets/i/work/work-3.jpg", alt="")
                .work__wrap
                    .work__icon
                        include ../icons/icon-plus
                    .work__info
                        h3.work__subtitle.subtitle Taxes & Efficiency
                        .work__text Business
            .work__item.work__item4 
                img(src="assets/i/work/work-4.jpg", alt="")
                .work__wrap
                    .work__icon
                        include ../icons/icon-plus
                    .work__info
                        h3.work__subtitle.subtitle Taxes & Efficiency
                        .work__text Business
            .work__item.work__item5 
                img(src="assets/i/work/work-5.jpg", alt="")
                .work__wrap
                    .work__icon
                        include ../icons/icon-plus
                    .work__info
                        h3.work__subtitle.subtitle Taxes & Efficiency
                        .work__text Business
            .work__item.work__item6 
                img(src="assets/i/work/work-6.jpg", alt="")
                .work__wrap
                    .work__icon
                        include ../icons/icon-plus
                    .work__info
                        h3.work__subtitle.subtitle Taxes & Efficiency
                        .work__text Business
            .work__item.work__item7 
                img(src="assets/i/work/work-7.jpg", alt="")
                .work__wrap
                    .work__icon
                        include ../icons/icon-plus
                    .work__info
                        h3.work__subtitle.subtitle Taxes & Efficiency
                        .work__text Business