.taxes 
    ul.taxes__header
        li.taxes__item All
        li.taxes__item Taxes & Efficiency
        li.taxes__item Investment banking
        li.taxes__item Financial Plan
        li.taxes__item Audit & Evaluation
    .taxes__wrapper 
        .taxes__img 
            img(src="assets/i/taxes/taxes-1.jpg", alt="")
        .taxes__img 
            img(src="assets/i/taxes/taxes-2.jpg", alt="")
        .taxes__img 
            img(src="assets/i/taxes/taxes-3.jpg", alt="")
        .taxes__img 
            img(src="assets/i/taxes/taxes-4.jpg", alt="")
        .taxes__img 
            img(src="assets/i/taxes/taxes-5.jpg", alt="")
        .taxes__img 
            img(src="assets/i/taxes/taxes-6.jpg", alt="")
