.articles {
  margin-top: 17rem;
  @media screen and (max-width: 992px) {
    margin-top: 12rem;
  }
  @media screen and (max-width: 768px) {
    margin-top: 10rem;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6.9rem;
    @media screen and (max-width: 576px) {
      display: block;
    }
  }
  &__content {
    flex: 1;
  }
  .label {
    margin-bottom: 0.6rem;
    color: #fff;
    background: var(--contrast);
  }
  &__title {
    max-width: 60%;
    @media screen and (max-width: 768px) {
      max-width: 80%;
    }
    @media screen and (max-width: 576px) {
      max-width: 100%;
      margin-bottom: 3rem;
    }
  }
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 6rem;
    margin: 0 -1.7rem;
    @media screen and (max-width: 992px) {
      display: block;
    }
  }
  &__item {
    flex: 0 0 calc(50% - 3.4rem);
    margin: 0 1.7rem;
    @media screen and (max-width: 992px) {
      margin-bottom: 5rem;
    }
  }
  &__img {
    position: relative;
    margin-bottom: 2.8rem;
    height: 32rem;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 2rem;
    }
  }
  &__subtitle {
    margin-bottom: 1.2rem;
    font-family: var(--font-2);
    font-weight: 600;
    font-size: 3rem;
    line-height: 1.16;
    color: var(--text-dark);
  }
  &__text {
    margin-bottom: 1rem;
  }
  &__footer {
    display: flex;
    align-items: center;
    padding: 1.4rem 0;
    border-top: 1px solid #c1c1c1;
    border-bottom: 1px solid #c1c1c1;
    @media screen and (max-width: 576px) {
      flex-wrap: wrap;
    }
  }
  &__info {
    display: flex;
    align-items: center;
    @media screen and (max-width: 576px) {
      margin-bottom: 2rem;
      flex: 0 0 100%;
    }
  }
  &__ava {
    position: relative;
    height: 6rem;
    width: 6rem;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 6rem;
      height: 6rem;
      object-fit: cover;
      border-radius: 50%;
    }
  }
  &__name {
    margin-left: 0.8rem;
    padding-right: 2.2rem;
    display: inline-flex;
    line-height: 1;
    border-right: 1px solid #595566;
  }
  &__date {
    display: inline-block;
    padding-left: 2.2rem;
    line-height: 1;
  }
  &__link {
    margin-left: auto;
    padding: 1.6rem 4rem;
    outline: 1px solid #c1c1c1;
  }
}
