.password 
    .password__dotted
        include ../icons/fon-password
    .password__square
    .password__content
        h2.password__title.title Enter Password
        input(type="text" placeholder="Enter Your Password")
        button(type="submit").password__btn.btn.btn--accent Submit
