.brands-light
    .brands-light__wrapper 
        .brands-light__logo
            include ../icons/icon-brand-1-light
        .brands-light__logo
            include ../icons/icon-brand-2-light
        .brands-light__logo
            include ../icons/icon-brand-3-light
        .brands-light__logo
            include ../icons/icon-brand-4-light
        .brands-light__logo
            include ../icons/icon-brand-5-light
        .brands-light__logo
            include ../icons/icon-brand-6-light