.expect 
    .expect__wrapper 
        .expect__picture
            .expect__dotted
                include ../icons/fon-process
            .expect__square
            .expect__img
                img(src="assets/i/expect/expect-img.jpg", alt="")
        .expect__content
            .label We'll work with you 
            h2.expect__title.title What To Expect
            .expect__text.text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            ul.expect__list 
                li.expect__item
                    .expect__desc.text Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day.
                li.expect__item
                    .expect__desc.text Capitalize on low hanging fruit to identify a ballpark value added activity to beta test override the digital.
