.faq 
    .faq__header
        .label Faq 
        h2.faq__title.title Customer Questions
    .faq__accordion.accordion
        .accordion__item.active
            h3.accordion__subtitle What will happen when I’ve sent my application?
            .accordion__body
                .accordion__text.text Ippsum is the result of synergy between our teams and our customers. Our company culture is focused on excellent productivity, customer satisfaction, respect for team and individual achievements.
        .accordion__item
            h3.accordion__subtitle Can I get a free trial before I purchase?
            .accordion__body
                .accordion__text.text Ippsum is the result of synergy between our teams and our customers. Our company culture is focused on excellent productivity, customer satisfaction, respect for team and individual achievements.
        .accordion__item
            h3.accordion__subtitle What should I include in my personal statement?
            .accordion__body
                .accordion__text.text Ippsum is the result of synergy between our teams and our customers. Our company culture is focused on excellent productivity, customer satisfaction, respect for team and individual achievements.
        .accordion__item
            h3.accordion__subtitle Will membership plans be charged automatically?
            .accordion__body
                .accordion__text.text Ippsum is the result of synergy between our teams and our customers. Our company culture is focused on excellent productivity, customer satisfaction, respect for team and individual achievements.
        .accordion__item
            h3.accordion__subtitle What will happen when I’ve sent my application?
            .accordion__body
                .accordion__text.text Ippsum is the result of synergy between our teams and our customers. Our company culture is focused on excellent productivity, customer satisfaction, respect for team and individual achievements.
        .accordion__item
            h3.accordion__subtitle Can I get a free trial before I purchase?
            .accordion__body
                .accordion__text.text Ippsum is the result of synergy between our teams and our customers. Our company culture is focused on excellent productivity, customer satisfaction, respect for team and individual achievements.