.gallery 
    .gallery__wrapper 
        .gallery__content
            .label Process
            h2.gallery__title.title Contact Us. It’s Easy.
            .gallery__text.text Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative.
            .gallery__list 
                .gallery__item
                    .gallery__icon 
                        include ../icons/icon-contact-us-1
                    .gallery__body
                        .gallery__info Call Today
                        h4.gallery__subtitle +1 800 100 900
                .gallery__item
                    .gallery__icon 
                        include ../icons/icon-contact-us-2
                    .gallery__body
                        .gallery__info Monday To Friday
                        h4.gallery__subtitle 9AM - 5PM
                .gallery__item
                    .gallery__icon 
                        include ../icons/icon-contact-us-3
                    .gallery__body
                        .gallery__info USA Office
                        h4.gallery__subtitle 195 Devonshire St Boston, MA 02110
        .gallery__pictures
            .gallery__dotted
                include ../icons/fon-gallery
            .gallery__square
            .gallery__wrap 
                .gallery__col.gallery__col1
                    .gallery__img
                        img(src="assets/i/gallery/gallery-1.jpg", alt="")
                .gallery__col.gallery__col2
                    .gallery__img
                        img(src="assets/i/gallery/gallery-2.jpg", alt="")
                    .gallery__img
                        img(src="assets/i/gallery/gallery-3.jpg", alt="")