.our-history 
    .label Our history 
    h2.our-history__title.title Strategy for Every Stage in the Client's Journey
    .our-history__block 
        .our-history__dotted
            include ../icons/fon-video
        .our-history__square
        .our-history__square-y
        .our-history__video.video.video--dark
            iframe.video__iframe(width="100%" height="100%" src="https://www.youtube.com/embed/kFpmlbNs6jk" title="YouTube video player" frameborder="0" )
            img.video__img(src="assets/i/our-history/our-history-video.jpg" alt="")
            .video__play
                .video__back
                .video__circle
                .video__triangle
