.projections 
    .container 
        .projections__header
            .projections__content    
                .projections__logo
                    include ../icons/icon-projections
                h2.projections__title.title Financial Projections
                .projections__text.text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            .projections__arrows
                .projections__arrow.projections__arrow--prev
                    include ../icons/icon-arrow-prev
                .projections__arrow.projections__arrow--next
                    include ../icons/icon-arrow-next
        .projections__wrapper
            .projections__item
                .projections__icon 
                    include ../icons/projections-1
                .projections__subtitle.subtitle The Balance Sheet
                .projections__desc.text The Balance Sheet is a summary of the assets and liabilities and equity of a business at a specific point of time.
            .projections__item
                .projections__icon 
                    include ../icons/projections-2
                .projections__subtitle.subtitle Income Statement
                .projections__desc.text The Income (Profit and Loss) Statement, commonly referred to as the P&L statement, summarizes the revenue and expenses for a specific time period (one month, one quarter, one year, etc.)
            .projections__item
                .projections__icon 
                    include ../icons/projections-3
                .projections__subtitle.subtitle Financial Plan
                .projections__desc.text Keep your information current and review the documents on a regular basis (monthly or more often if needed). Review them with key individuals within your company.
            .projections__item
                .projections__icon 
                    include ../icons/projections-4
                .projections__subtitle.subtitle Financial Ratios
                .projections__desc.text Ratios are useful when comparing your company with the competition on financial performance and also when benchmarking the performance of your company.