.consulting
    .consulting__block
        h2.consulting__title Best Business Consulting Services
        .consulting__text.text Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring. Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps.
    .consulting__img 
        img(src="assets/i/consulting/consulting-1.jpg", alt="")
    .consulting__block
        h2.consulting__title The Digital Assets For All
        .consulting__text.text Appropriately empower dynamic leadership skills after business portals. Globally my carminate interactive supply chains with distinctive quality vectors global sources services. Uniquely matrix economically sound value through cooperative technology. Competently parallel task fully researched data and enterprise process improvements. 
    ul.consulting__list
        li.consulting__item Dynamically target high-payoff intellectual capital for customized
        li.consulting__item Interactively procrastinate high-payoff content
        li.consulting__item Credibly reinter mediate backend ideas for cross-platform models
    .consulting__cite
        .consulting__dotted
            include ../icons/fon-consulting
        .consulting__square
        .consulting__icon 
            include ../icons/cite
        .consulting__subtext “The job market of the future will consist of those jobs that robots cannot perform. Our blue-collar work is pattern recognition, making sense of what you see. Gardeners will still have jobs because every garden is different.”
    .consulting__block
        h2.consulting__title Make real time a wireframes services
        .consulting__text.text Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.
    ol.consulting__list-1
        li.consulting__item-1 It brings the right people together with all the right information and tools to get work done
        li.consulting__item-1 We provide operational efficiency, data security, and flexible scale
        li.consulting__item-1 Your best work, together in one package that works seamlessly from your computer
        li.consulting__item-1 Delivers the tools you need to save time Improve field performance always
    .consulting__author 
        .consulting__dotted-2
            include ../icons/fon-cons
        .consulting__decor 
            include ../icons/decor-cons
        .consulting__flex
            .consulting__ava 
                img(src="assets/i/consulting/consulting-ava.jpg", alt="")
            .consulting__content
                h4.consulting__name Nayra Melson
                .consulting__job Senior Manager
                .consulting__desc.text Leads the global expansion of the designerz brand and overseas investment in solutions and innovation. Renowned coder and an authority on matters of industrial experience & interface.
                .consulting__social
                    include ../icons/icon-cons-in
                    include ../icons/icon-cons-fb
                    include ../icons/icon-cons-tw
            