.taxes {
  margin-top: 15.1rem;
  @media screen and (max-width: 992px) {
    margin-top: 12rem;
  }
  @media screen and (max-width: 576px) {
    margin-top: 9rem;
  }
  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3.9rem;
    margin: 0 auto;
    margin-bottom: 5rem;
    padding: 3.1rem 4.4rem;
    max-width: 86%;
    background: var(--text-dark);
    border-radius: 3rem;
    @media screen and (max-width: 992px) {
      display: inline-block;
    }
  }
  &__item {
    padding-bottom: 0.3rem;
    font-family: var(--font-2);
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 1.16;
    color: #fff;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    transition: color 0.3s ease;
    &:hover,
    &.active {
      color: var(--accent);
      border-bottom: 2px solid var(--accent);
    }
    @media screen and (max-width: 992px) {
      margin-bottom: 1rem;
    }
  }
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    row-gap: 2.4rem;
    margin: 0 -1.2rem;
    padding: 2.4rem;
    background: #f5f5f5;
    border-radius: 3rem;
    @media screen and (max-width: 992px) {
      padding: 0;
      padding-bottom: 2.4rem;
    }
    @media screen and (max-width: 768px) {
      margin: 0;
    }
    @media screen and (max-width: 576px) {
      display: block;
    }
  }
  &__img {
    position: relative;
    flex: 0 0 calc(100% / 3 - 2.4rem);
    margin: 0 1.2rem;
    height: 34.4rem;
    cursor: pointer;
    &:hover::before,
    &:hover::after {
      opacity: 1;
    }
    &:hover .taxes__wrap {
      opacity: 1;
    }
    @media screen and (max-width: 768px) {
      flex: 0 0 calc(100% / 2 - 2.4rem);
      padding-bottom: 42%;
    }
    @media screen and (max-width: 576px) {
      padding-bottom: 0;
      margin: 0 0 2rem 0;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 2rem;
      @media screen and (max-width: 576px) {
        position: static;
      }
    }
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(24, 24, 24, 0.7);
      backdrop-filter: blur(6px);
      border-radius: 2rem;
      z-index: 1;
      opacity: 0;
      transition: opacity 0.3s ease;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 60%;
      background: linear-gradient(360deg, #181818 0%, rgba(24, 24, 24, 0) 100%);
      border-radius: 2rem;
      z-index: 2;
      opacity: 0;
      transition: opacity 0.3s ease;
    }
  }
  &__wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 2.2rem;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 3;
  }

  &__icon {
    align-self: flex-end;
    // top: 2.2rem;
    // right: 3rem;
    width: 5.4rem;
    height: 5.4rem;
    border-radius: 50%;
    z-index: 3;
    background: linear-gradient(154deg, #ffe9b1 0%, #dda003 100%);
    svg {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &__info {
    // padding-right: 5rem;
    margin-top: auto;
    // left: 2.5rem;
    // bottom: 2.4rem;
    z-index: 3;
  }
  &__subtitle {
    color: #fff;
  }
  &__text {
    color: var(--accent);
  }
}
