- 
    const data1 = ["Image 1", "Image 2", "Image 3", "Image 4", "Image 5", "Image 6", "Image 7", "Image 8", "Image 9", "Image 10", "Image 11", "Image 12", "Image 13", "Image 14", "Image 15", "Image 16", "Image 17", "Image 18", "Image 19", "Image 20", "Image 21", "Image 22", "Image 23", "Image 24", "Image 25"];
    const data2 = ["Image 1", "Image 2", "Image 3", "Image 4", "Image 5", "Image 6", "Image 7", "Image 8", "Image 9", "Image 10"];
.all-licenses
    .all-licenses__body 
        h2.all-licenses__title.title Icon & Graphics
        .all-licenses__content
            .all-licenses__text.text
                p All graphical assets in this template are licensed for personal and commercial use. If you'd like to use a specific asset, please check the license below.
                p The iconography used in this Template are licensed for free personal and commercial use. If you'd like to use any specific Icon, you can check the licenses and download the images for free on phosphoricons.
                h4.all-licenses__subtitle Phosphor Icon :
                span.all-licenses__desc &nbsp;Licenses
    .all-licenses__body 
        h2.all-licenses__title.title Photography
        .all-licenses__content
            .all-licenses__text.text
                p All images used in the PrimeChat Webflow Template are licensed for free personal and commercial use. If you'd like to use any specific image, you can check the licenses and download the images for free on
                h4.all-licenses__subtitle Pexels :
                span.all-licenses__desc &nbsp;Licenses
                ul.all-licenses__list 
                    each item in data1
                        li 
                            a(href="#")=item + ',' 
                h4.all-licenses__subtitle Unsplash :
                span.all-licenses__desc &nbsp;Licenses
                ul.all-licenses__list 
                    each item in data2
                        li 
                            a(href="#")=item + ',' 
    .all-licenses__body 
        h2.all-licenses__title.title Font
        .all-licenses__content
            .all-licenses__text.text
                p Consultalk template uses free licensed #[span Google Fonts]. please check #[span Cabin] and #[span Lato]