svg(width="46", height="46", viewBox="0 0 46 46", fill="none", xmlns="http://www.w3.org/2000/svg")
  circle(cx="23.1042", cy="23.194", r="22.5163", fill="#FFF3D6")
  path(d="M32.3242 16.8718L23.3994 25.0529L14.4746 16.8718", stroke="#C7981F", stroke-linecap="round", stroke-linejoin="round")
  path(d="M14.4746 16.8718H32.3242V29.5153C32.3242 29.7125 32.2459 29.9017 32.1064 30.0412C31.9669 30.1807 31.7777 30.259 31.5805 30.259H15.2183C15.0211 30.259 14.8319 30.1807 14.6924 30.0412C14.553 29.9017 14.4746 29.7125 14.4746 29.5153V16.8718Z", stroke="#C7981F", stroke-linecap="round", stroke-linejoin="round")
  path(d="M21.7725 23.5654L14.707 30.0452", stroke="#C7981F", stroke-linecap="round", stroke-linejoin="round")
  path(d="M32.0918 30.0452L25.0264 23.5654", stroke="#C7981F", stroke-linecap="round", stroke-linejoin="round")
