svg(width="25", height="22", viewBox="0 0 25 22", fill="none", xmlns="http://www.w3.org/2000/svg")
  path(d="M2.19189 10.8313H23.3434M23.3434 10.8313L14.6905 2.17847M23.3434 10.8313L14.6905 19.4842", stroke-width="3.23715", stroke-linecap="round", stroke-linejoin="round")