svg(width="25", height="21", viewBox="0 0 25 21", fill="none", xmlns="http://www.w3.org/2000/svg")
  path(d="M23.2041 10.366L2.33167 10.366", stroke-width="3.19444", stroke-linecap="round", stroke-linejoin="round")
  path(d="M10.8701 18.9043L2.3314 10.3656L10.8701 1.82686", stroke-width="3.19444", stroke-linecap="round", stroke-linejoin="round")
