svg(width="20", height="19", viewBox="0 0 20 19", fill="none", xmlns="http://www.w3.org/2000/svg")
  path(d="M7.93968 18.9259V11.8769H0.78468V7.84886H7.93968V0.799858H12.1797V7.84886H19.3347V11.8769H12.1797V18.9259H7.93968Z", fill="#181818")
