.great-team
    .great-team__header 
        .great-team__content
            h2.great-team__title.title Meet Our Great Team
            .great-team__text.text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. enim ad minim veniam, quis nostrud exercitation.
        a(href="#").great-team__btn.btn.btn--dark Join our team
    .great-team__wrapper.our-team__wrapper
        .our-team__card
            a(href='/single-team.html').our-team__img 
                img(src="assets/i/our-team/our-team-1.jpg", alt="")
                span.our-team__spec CEO at Company
            .our-team__body 
                h3.our-team__name Sarah Jasmine
                .our-team__desc.text Leverage agile frameworks to provide a robust synopsis for high level overviews.
                ul.our-team__social
                    li 
                        a.our-team__link(href="#")
                            include ../icons/icon-in
                    li
                        a.our-team__link(href="#")
                            include ../icons/icon-fb
                    li
                        a.our-team__link(href="#")
                            include ../icons/icon-tw
        .our-team__card
            a(href='/single-team.html').our-team__img 
                img(src="assets/i/our-team/our-team-2.jpg", alt="")
                span.our-team__spec Manager
            .our-team__body 
                h3.our-team__name John Carter
                .our-team__desc.text Leverage agile frameworks to provide a robust synopsis for high level overviews.
                ul.our-team__social
                    li 
                        a.our-team__link(href="#")
                            include ../icons/icon-in
                    li
                        a.our-team__link(href="#")
                            include ../icons/icon-fb
                    li
                        a.our-team__link(href="#")
                            include ../icons/icon-tw
        .our-team__card
            a(href='/single-team.html').our-team__img 
                img(src="assets/i/our-team/our-team-3.jpg", alt="")
                span.our-team__spec CEO at Company
            .our-team__body 
                h3.our-team__name Daisy Stella
                .our-team__desc.text Leverage agile frameworks to provide a robust synopsis for high level overviews.
                ul.our-team__social
                    li 
                        a.our-team__link(href="#")
                            include ../icons/icon-in
                    li
                        a.our-team__link(href="#")
                            include ../icons/icon-fb
                    li
                        a.our-team__link(href="#")
                            include ../icons/icon-tw
        .our-team__card
            a(href='/single-team.html').our-team__img 
                img(src="assets/i/great-team/great-team-1.jpg", alt="")
                span.our-team__spec CEO at Company
            .our-team__body 
                h3.our-team__name Maya Elizabeth
                .our-team__desc.text Leverage agile frameworks to provide a robust synopsis for high level overviews.
                ul.our-team__social
                    li 
                        a.our-team__link(href="#")
                            include ../icons/icon-in
                    li
                        a.our-team__link(href="#")
                            include ../icons/icon-fb
                    li
                        a.our-team__link(href="#")
                            include ../icons/icon-tw
        .our-team__card
            a(href='/single-team.html').our-team__img 
                img(src="assets/i/great-team/great-team-2.jpg", alt="")
                span.our-team__spec CEO at Company
            .our-team__body 
                h3.our-team__name Ryan Jackson
                .our-team__desc.text Leverage agile frameworks to provide a robust synopsis for high level overviews.
                ul.our-team__social
                    li 
                        a.our-team__link(href="#")
                            include ../icons/icon-in
                    li
                        a.our-team__link(href="#")
                            include ../icons/icon-fb
                    li
                        a.our-team__link(href="#")
                            include ../icons/icon-tw
        .our-team__card
            a(href='/single-team.html').our-team__img 
                img(src="assets/i/great-team/great-team-3.jpg", alt="")
                span.our-team__spec CEO at Company
            .our-team__body 
                h3.our-team__name Lilly Victoria
                .our-team__desc.text Leverage agile frameworks to provide a robust synopsis for high level overviews.
                ul.our-team__social
                    li 
                        a.our-team__link(href="#")
                            include ../icons/icon-in
                    li
                        a.our-team__link(href="#")
                            include ../icons/icon-fb
                    li
                        a.our-team__link(href="#")
                            include ../icons/icon-tw