.control
    .container 
        .control__content 
            .label Services 
            h2.control__title.title Get Control Over Your Business I take your finance to next level
        .control__wrapper 
            a.control__card(href="#")
                .control__item
                    .control__icon      
                        include ../icons/control-1
                    .control__body
                        h3.control__subtitle.subtitle Audit & Evaluation
                        .control__text.text Get help from Alex Moore, a professional business coach with advanced experience on growth and business scaling.
            a.control__card(href="#")
                .control__item
                    .control__icon      
                        include ../icons/control-2
                    .control__body
                        h3.control__subtitle.subtitle Financial Projections
                        .control__text.text Get help from Alex Moore, a professional business coach with advanced experience on growth and business scaling.
            a.control__card(href="#")
                .control__item
                    .control__icon      
                        include ../icons/control-3
                    .control__body
                        h3.control__subtitle.subtitle Funds and investments
                        .control__text.text Get help from Alex Moore, a professional business coach with advanced experience on growth and business scaling.
            a.control__card(href="#")
                .control__item
                    .control__icon      
                        include ../icons/control-4
                    .control__body
                        h3.control__subtitle.subtitle Finance & Restructuring
                        .control__text.text Get help from Alex Moore, a professional business coach with advanced experience on growth and business scaling.
            a.control__card(href="#")
                .control__item
                    .control__icon      
                        include ../icons/control-5
                    .control__body
                        h3.control__subtitle.subtitle Taxes & Efficiency
                        .control__text.text Get help from Alex Moore, a professional business coach with advanced experience on growth and business scaling.
            a.control__card(href="#")
                .control__item
                    .control__icon      
                        include ../icons/control-6
                    .control__body
                        h3.control__subtitle.subtitle Investment banking
                        .control__text.text Get help from Alex Moore, a professional business coach with advanced experience on growth and business scaling.