.contact-us 
    .contact-us__wrapper 
        .contact-us__content
            .label Process
            h2.contact-us__title.title Contact Us. It’s Easy.
            .contact-us__text.text Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative.
            .contact-us__list 
                .contact-us__item
                    .contact-us__icon 
                        include ../icons/icon-contact-us-1
                    .contact-us__body
                        .contact-us__info Call Today
                        h4.contact-us__subtitle +1 800 100 900
                .contact-us__item
                    .contact-us__icon 
                        include ../icons/icon-contact-us-2
                    .contact-us__body
                        .contact-us__info Monday To Friday
                        h4.contact-us__subtitle 9AM - 5PM
                .contact-us__item
                    .contact-us__icon 
                        include ../icons/icon-contact-us-3
                    .contact-us__body
                        .contact-us__info USA Office
                        h4.contact-us__subtitle 195 Devonshire St Boston, MA 02110
        .contact-us__form.form
            form(action="") 
                .form__wrap
                    .form__group
                        label(for="").form__label Full Name
                        input(type="text" placeholder="")
                    .form__group
                        label(for="").form__label Email
                        input(type="email") 
                .form__wrap
                    .form__group
                        label(for="").form__label Phone 
                        input(type="tel") 
                    .form__group
                        label(for="").form__label Company(optional)
                        input(type="text") 
                .form__group 
                    label(for="").form__label Message
                    textarea(name="" placeholder="") 
                button.form__btn.btn.btn--dark Send Message