.pricing 
    .container
        .pricing__content
            .label Pricing
            h2.pricing__title.title Our Pricing Plan
        .pricing__wrapper
            .pricing__col.card-plan
                .card-plan__body
                    h3.card-plan__subtitle.subtitle Basic Plan
                    .card-plan__desc.text The argument in favor of using to filler text goes something.
                    .card-plan__info
                        .card-plan__price
                            span $35
                        .card-plan__label.label 
                            span Monthly
                ul.card-plan__list
                    li
                        include ../icons/icon-plan
                        span 24/7 system monitoring
                    li
                        include ../icons/icon-plan
                        span Security management
                    li
                        include ../icons/icon-plan
                        span Secure finance backup
                    li
                        include ../icons/icon-plan
                        span Remote support
                a.card-plan__btn.btn(href="#") Get This Plan
            .pricing__col.card-plan
                .card-plan__body
                    h3.card-plan__subtitle.subtitle Standard Plan
                    .card-plan__desc.text The argument in favor of using to filler text goes something.
                    .card-plan__info
                        .card-plan__price
                            span $56
                        .card-plan__label.label 
                            span Monthly
                ul.card-plan__list
                    li
                        include ../icons/icon-plan
                        span 24/7 system monitoring
                    li
                        include ../icons/icon-plan
                        span Security management
                    li
                        include ../icons/icon-plan
                        span Secure finance backup
                    li
                        include ../icons/icon-plan
                        span Remote support
                a.card-plan__btn.btn(href="#") Get This Plan
            .pricing__col.card-plan
                .card-plan__body
                    h3.card-plan__subtitle.subtitle Standard Plan
                    .card-plan__desc.text The argument in favor of using to filler text goes something.
                    .card-plan__info
                        .card-plan__price
                            span $75
                        .card-plan__label.label 
                            span Monthly
                ul.card-plan__list
                    li
                        include ../icons/icon-plan
                        span 24/7 system monitoring
                    li
                        include ../icons/icon-plan
                        span Security management
                    li
                        include ../icons/icon-plan
                        span Secure finance backup
                    li
                        include ../icons/icon-plan
                        span Remote support
                a.card-plan__btn.btn(href="#") Get This Plan