.process
    .process__wrapper 
        .process__picture 
            .process__dotted
                include ../icons/fon-process
            .process__square 
            .process__img 
                img(src="assets/i/process/process-img.jpg", alt="")
        .process__content
            .label Process
            h2.process__title.title Our Consuting Service Development
            .process__item
                .process__icon
                    include ../icons/icon-process-1
                .process__body
                    h3.process__subtitle Banking and Finance
                    .process__text.text Professionally fashion wireless leadership rather than prospective experiences my cardinate clicks-and-mortar testing whereas. 
            .process__item
                .process__icon
                    include ../icons/icon-process-2
                .process__body
                    h3.process__subtitle Logistic and Transportation
                    .process__text.text Compellingly embrace empowered e-business after user friendly intellectual capital. Interactively actualize front-end processes.
            .process__item
                .process__icon
                    include ../icons/icon-process-3
                .process__body
                    h3.process__subtitle Trading
                    .process__text.text Uniquely matrix economically sound value through cooperative technology parallel task fully researched data and enterprise. 

