.accordion {
  &__item {
    margin-bottom: 2.9rem;
  }
  &__subtitle {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin-bottom: 1.6rem;
    margin-bottom: 1.8rem;
    font-family: var(--font-2);
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.16;
    color: var(--text-dark);
    cursor: pointer;
    &::after {
      content: "";
      position: absolute;
      right: 0.3rem;
      top: 50%;
      transform: translateY(-50%);
      width: 2rem;
      height: 2rem;
      background: url("../i/svg/icon-plus.svg") no-repeat;
    }
    &.active::after {
      height: 0.2rem;
      background: url("../i/svg/icon-minus.svg") no-repeat;
    }
  }
  &__body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
  }
  &__text {
    // margin-top: 2rem;
    padding-bottom: 1.7rem;
    max-width: 64rem;
    border-bottom: 1px solid #dadada;
  }
}
