.expect {
  margin-bottom: 10rem;
  &__wrapper {
    display: flex;
    column-gap: 0rem;
    height: 46.2rem;
    @media screen and (max-width: 992px) {
        display: block;
        height: auto;
    }
  }
  &__picture {
    position: relative;
    flex: 0 0 60%;
    @media screen and (max-width: 992px) {
        margin-bottom: 16rem;
    }
    @media screen and (max-width: 576px) {
        margin-bottom: 6rem;
    }
    
  }
  &__dotted {
    position: absolute;
    top: 0;
    left: -9.6rem;
    width: 100%;
    height: 100%;
    z-index: 1;
    @media screen and (max-width: 992px) {
        left: 0;
    }
    @media screen and (max-width: 576px) {
        display: none;
    }
  }

  &__square {
    position: absolute;
    top: 4.3rem;
    left: -3.8rem;
    width: 18.3rem;
    height: 16.4rem;
    background: var(--contrast);
    border-radius: 2rem;
    z-index: 1;
    @media screen and (max-width: 992px) {
        left: 6%;
    }
    @media screen and (max-width: 576px) {
        display: none;
    }
  }
  &__img {
    position: relative;
    height: 39.6rem;
    img {
      position: absolute;
      top: 18.2%;
      left: 0;
      width: 88%;
      height: 100%;
      object-fit: cover;
      z-index: 2;
      border-radius: 2rem;
      @media screen and (max-width: 992px) {
        left: 11%;
      }
      @media screen and (max-width: 576px) {
        position: static;
        width: 100%;
      }
    }
  }
  &__content {
    flex: 1;
  }
  .label {
    margin-bottom: 1.9rem;
  }
  &__title {
    margin-bottom: 1.3rem;
  }
  &__text {
    margin-bottom: 2.4rem;
  }
  &__item {
    padding-left: 3.5rem;
    margin-bottom: 1.8rem;
  }
  &__item:last-child {
    margin-bottom: 0;
  }
  &__desc {
    position: relative;
    line-height: 1.16;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -3.9rem;
      width: 30px;
      height: 30px;
      background: url("../i/svg/icon-list.svg") no-repeat;
    }
  }
}
