.faq {
  background: #f5f5f5;
  padding: 15.1rem 23.6rem;
  &__header {
    margin-bottom: 4rem;
    text-align: center;
  }
  .label {
    margin-bottom: 2.2rem;
    color: #fff;
    background: var(--contrast);
  }
  &__accordion {
    margin: 0 auto;
  }
}
