.gallery {
  padding: 18rem 0 15rem;
  @media screen and (max-width: 992px) {
    padding: 12rem 10rem;
  }
  @media screen and (max-width: 768px) {
    padding: 10rem 0;
  }
  @media screen and (max-width: 576px) {
    padding: 8rem 0;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 992px) {
      display: block;
    }
  }
  &__content {
    @media screen and (max-width: 992px) {
      margin-bottom: 5rem;
    }
  }
  .label {
    margin-bottom: 0.6rem;
  }
  &__title {
    margin-bottom: 1.3rem;
  }
  &__text {
    margin-bottom: 3.8rem;
    max-width: 40.6rem;
  }
  &__list {
    max-width: 90%;
  }
  &__item {
    display: flex;
    column-gap: 1.6rem;
    margin-bottom: 5.2rem;
  }
  &__item:last-child {
    margin-bottom: 0;
  }
  &__icon {
    svg {
      height: 5.2rem;
    }
  }
  &__info {
    margin-bottom: 0.3rem;
    color: #595566;
  }
  &__subtitle {
    font-family: var(--font-2);
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.16;
    color: var(--text-dark);
  }
  &__pictures {
    position: relative;
    height: 57.4rem;
    width: 59%;
  }
  &__dotted {
    position: absolute;
    top: 0;
    right: -7.3rem;
    z-index: 1;
  }
  &__square {
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 2rem;
    height: 16.4rem;
    width: 30.7rem;
    background: var(--contrast);
    z-index: 1;
  }
  &__wrap {
    position: relative;
    top: 3.7rem;
    left: 5.3rem;
    display: flex;
    column-gap: 2.4rem;
    width: 90%;
    z-index: 2;
  }
  &__col2 {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }
  &__col1 .gallery__img {
    position: relative;
    height: 50.6rem;
    width: 31.6rem;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 2.8rem;
    }
  }
  &__col2 .gallery__img {
    position: relative;
    height: 24.3rem;
    width: 31.6rem;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 2.8rem;
    }
  }
}
