.our-history {
  padding: 15.2rem 0 15.2rem;
  text-align: center;
  background: var(--text-dark);
  //   @media screen and (max-width: 992px) {
  //     padding: 12rem 0;
  //   }
  //   @media screen and (max-width: 768px) {
  //     padding: 9rem 0;
  //   }
  .label {
    margin-bottom: 2.2rem;
    color: #fff;
    background: var(--contrast);
  }
  &__title {
    margin: 0 auto 1.5rem;
    max-width: 28%;
    color: #fff;
    // @media screen and (max-width: 768px) {
    //   max-width: 60%;
    // }
    // @media screen and (max-width: 576px) {
    // max-width: 77%;
    // }
  }
  &__block {
    position: relative;
    // height: 45rem;
    // max-width: 90%;
    width: 94.4rem;
    height: 37.3rem;
    margin: 0 auto;
    // @media screen and (max-width: 576px) {
    //   height: auto;
    //   max-width: initial;
    // }
  }
  &__dotted {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    // @media screen and (max-width: 992px) {
    //   right: -5rem;
    // }
    // @media screen and (max-width: 576px) {
    //   display: none;
    // }
  }
  &__square {
    position: absolute;
    top: 5%;
    left: 4%;
    width: 10.8rem;
    height: 12.1rem;
    background: var(--contrast);
    border-radius: 2rem;
    z-index: 1;
    // @media screen and (max-width: 768px) {
    //   left: 4rem;
    // }
    // @media screen and (max-width: 576px) {
    //   display: none;
    // }
  }
  &__square-y {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 16.4rem;
    height: 18.3rem;
    background: var(--accent);
    border-radius: 2rem;
    z-index: 1;
  }
  &__video {
    position: relative;
    top: 3.5rem;
    left: 7%;
    width: 88%;
    z-index: 2;
    // @media screen and (max-width: 576px) {
    //   width: 100%;
    //   left: 0;
    // }
  }
}
