html {
  font-size: 62.5%;
  min-width: 320px;
  @media screen and (max-width: 1550px) {
    font-size: 60%;
  }
  @media screen and (max-width: 1400px) {
    font-size: 58%;
  }
  @media screen and (max-width: 1300px) {
    font-size: 54%;
  }
  @media screen and (max-width: 1200px) {
    font-size: 50%;
  }
}

body {
  position: relative; 
  margin: 0;
  padding: 0;
  font-family: var(--font-1);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--text-dark);
}

body::after {
  content: '';  
  position: absolute;
  top: 0;
  left: 50%;
  width: 1px;
  height: 100vh;
  background: green;
  z-index: 100;
  display: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  @include reset-list;
}

p {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

.container {
  margin: 0 auto;
  max-width: 1230px;
  padding: 0 15px;
}

input[type="submit"]:disabled {
  cursor: not-allowed !important;
  opacity: 0.6 !important;
}
.btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
  padding: 0.8rem 4.5rem 0.8rem 0.8rem;
  font-family: var(--font-1);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1;
  color: #353535;
  background: #fff;
  border-radius: 4.2rem;
}
