@font-face {
	font-family: 'Lato';
	src: 
		url('../fonts/Lato-Regular.woff2') format('woff2'),
		url('../fonts/Lato-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: 
		url('../fonts/Lato-Bold.woff2') format('woff2'),
		url('../fonts/Lato-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Lato';
	src: 
		url('../fonts/Lato-Semibold.woff2') format('woff2'),
		url('../fonts/Lato-Semibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}


@font-face {
    font-family: 'Cabin';
    src: 
        url('../fonts/Cabin-SemiBold.woff2') format('woff2'),
        url('../fonts/Cabin-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Cabin';
    src: 
        url('../fonts/Cabin-Bold.woff2') format('woff2'),
        url('../fonts/Cabin-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'Cabin';
    src: 
        url('../fonts/Cabin-Regular.woff2') format('woff2'),
        url('../fonts/Cabin-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cabin';
    src: 
        url('../fonts/Cabin-Medium.woff2') format('woff2'),
        url('../fonts/Cabin-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}