.btn-icon {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
  padding: 0.8rem 4.5rem 0.8rem 0.8rem;
  font-family: var(--font-1);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1;
  color: #353535;
  background: #fff;
  border-radius: 4.2rem;
  &:hover svg circle {
    fill: #ccc;
  }
  svg > circle {
    fill: #ffc42b;
    transition: fill .5s ease;
  }

  &.btn-icon--mobile {
    @media screen and (max-width: 575px) {
      padding: 0;
    }
    span {
      @media screen and (max-width: 576px) {
        display: none;
      }
    }
  }
}
