.btn {
  display: inline-block;
  padding: 1.8rem 3.2rem;
  font-family: var(--font-1);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.6;
  text-align: center;
  color: #353535;
  background: transparent;
  border: none;
  outline: none;
  border-radius: 5.5rem;
  transition: all 0.3s ease;
  cursor: pointer;
  &:hover {
    color: #fff;
    background: #353535;
  }
  &--dark {
    color: #fff;
    background: #151515;
    border: 2px solid #151515;
    transition: all 0.3s ease;
    &:hover {
      background: #fff;
      color: #151515;
      border: 2px solid #151515;
    }
  }
  &--accent {
    color: #181818;
    background: var(--accent);
  }
  &--contrast {
    color: #fff;
    background: var(--contrast);
  }
  &__one {
    outline: 1px solid #151515;
    border: 1px solid #151515;
    background: #000;
    color: red;
  }
}
