.label {
  padding: 0 1rem;
  display: inline-flex;
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--text-dark);
  letter-spacing: 0.232rem;
  text-transform: uppercase;
  background: var(--accent);
  border-radius: 2rem;
}