.main-footer {
  position: relative;
    padding-top: 12.6rem;
  // padding-bottom: 25%;
    height: 48.9rem;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: rgba(24, 24, 24, 0.9);
    backdrop-filter: blur(23px);
    z-index: 1;
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--text-dark);
    object-fit: cover;
  }
  &__wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10rem;
  }
  &__wrapper {
    position: relative;
    display: flex;
    z-index: 2;
  }
  &__head {
    position: relative;
    width: 35.2rem;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 1px;
      height: 23.6rem;
      background: #707070;
    }
  }
  &__logo {
    svg {
      margin-bottom: 3.1rem;
      width: 18.1rem;
      height: 3.1rem;
    }
  }
  &__social {
    font-family: var(--font-2);
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.16;
    color: #fff;
    a {
      font-family: var(--font-2);
      font-weight: 600;
      font-size: 2rem;
      line-height: 1.16;
      color: #fff;
      transition: color 0.3s linear;
      &:hover {
        color: var(--accent);
      }
    }
  }
  &__content {
    display: flex;
    justify-content: space-between;
    column-gap: 9.9rem;
    padding-left: 17.1rem;
  }
  &__col:last-child {
    max-width: 35%;
  }
  &__title {
    display: inline-block;
    position: relative;
    padding-bottom: 1.2rem;
    margin-bottom: 1.4rem;
    font-family: var(--font-2);
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.16;
    color: #fff;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 3.1rem;
      height: 3px;
      border-radius: 2rem;
      background: var(--accent);
    }
  }
  &__link {
    position: relative;
    padding-left: 2.6rem;
    display: inline-block;
    font-family: var(--font-1);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.475;
    color: #fff;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 1rem;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: #fff;
      z-index: 8;
    }
  }
  &__address {
    margin-bottom: 2rem;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.475;
    color: #fff;
  }
  .btn {
    background: #fff;
  }
}