.text {
  font-family: var(--font-1);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.48;
  color: #595566;
  p:not(:last-child) {
    margin-bottom: 1.1rem;
  }
  &--light {
    color: #fff;
  }
}