.title {
  font-family: var(--font-2);
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1.16;
  @media screen and (max-width: 768px) {
    font-size: 4rem;
  }
  @media screen and (max-width: 576px) {
    font-size: 3.5rem;
  }
}