@import "partials/fonts";
@import "partials/variables";
@import "partials/mixins";
@import "partials/base";
@import "../libs/slick.scss";
@import "../libs/roundslider.min.css";

// globals
@import "blocks/globals/top-header";
@import "blocks/globals/main-header";
@import "blocks/globals/sandwich";
@import "blocks/globals/main-menu";

// blocks
@import "blocks/home/home-intro";
@import "blocks/home/features";
@import "blocks/home/about-me";
@import "blocks/home/services";
@import "blocks/home/experience";
@import "blocks/home/work";
@import "blocks/home/education";
@import "blocks/home/counter";
@import "blocks/home/reviews";
@import "blocks/home/team";